/* declaring CSS Variables*/
:root {  /* setting default values for variables*/
    --base: #ffc600;
    --spacing:  50px;
    --blur: 10px;
}

/* start using variables*/
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
  }

/*
    misc styles, nothing to do with CSS variables
  */
  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }
  .controls {
    margin-bottom: 50px;
  }
  input {
    width:100px;
  }
